// valable
// ----------------------------------------------------
@mixin font-en(: 400, : 0.15rem, : 16px ) {
  font-family: 'Playfair Display', serif ;
  font-weight: ;
  letter-spacing: ;
  font-size: ;
}
// ----------------------------------------------------
