// imports
// ----------------------------------------------------
@import "./reset";
@import "./variable";
// ----------------------------------------------------

.wrap{
  height: 100%;
  width: 100%;
  position: relative;


  canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // height: 100%;
    // width: 100%;
    background: radial-gradient( #1b5bb4 0%, rgb(1, 7, 36) 100%);
  }
}
